.sidebar {
  width: 220px;
  background-color: #f9fafb;
  padding: 20px;
  border-right: 1px solid #e5e7eb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
  user-select: none;
}

.health {
  color: #38bdf8;
}

.care {
  color: #a855f7;
  margin-left: 0;
}

.header {
  font-size: 14px;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin-bottom: 4px; /* Add some spacing between items */
}

.navLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}

.active {
  color: #000000;
  font-weight: 700;
  background-color: #e0f2fe; /* Add a background for active state */
}

.active .icon {
  color: #000000;
}

.inactive {
  color: #9ca3af;
}

.inactive .icon {
  color: #b4bbbe;
}

.navItem:hover {
  background-color: #e0f2fe;
  color: #000000 !important;
}

.navItem:hover .icon {
  color: #000000 !important;
}

.icon {
  font-size: 18px;
  margin-right: 12px;
}

.label {
  font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e5e7eb;
    border-right: none;
    padding: 10px;
    position: sticky; /* Make it stick to the top */
    top: 0;
    left: 0;
    z-index: 100; /* Ensure it's above other content */
    background-color: #f9fafb;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between; /* Distribute title and navs */
  }

  .title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .header {
    display: none; /* Hide headers in horizontal layout */
  }

  nav {
    margin: 0;
  }

  .navList {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .navItem {
    padding: 8px 12px;
    margin-bottom: 0;
  }

  .navLink {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin-right: 0;
    margin-bottom: 4px;
    font-size: 20px;
  }

  .label {
    font-size: 12px;
  }

  .active {
    border-radius: 6px;
    background-color: #d1fae5;
    color: #10b981;
    font-weight: 600;
  }

  .active .icon {
    color: #10b981;
  }

  .inactive {
    color: #4b5563;
  }

  .inactive .icon {
    color: #6b7280;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .icon {
    font-size: 18px;
  }

  .label {
    font-size: 10px;
  }

  .navItem {
    padding: 6px 8px;
  }
}