.appContainer {
  display: flex; /* Makes Sidebar and mainContent sit side-by-side */
  min-height: 100vh; /* Ensures the app takes up the full screen height */
  background-color: #f1f2f5; /* A dark background for the whole app */
  width: 100%; /* Ensure it takes full width */
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0; /* Or your preferred padding, e.g., 20px */
  margin: 0; /* Or your preferred margin */
 
  overflow-y: auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 767px) {
  .appContainer {
    flex-direction: column; /* Stack sidebar and main content vertically on small screens */
  }
}